.Body {
  background-color: #252935;
  color: white;
  min-height: 95vh;
  max-height: 95vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.body-Nav {
  display: flex;
  flex-direction: column;
  padding: 2px;
  width: 47px;
  max-width: 47px;
  max-height: 100%;
}
.body-Body {
  padding: 2px;
  width: 97%;
  max-width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.edit-Box-Div {
  background-color: white;
  height: 40vw;
  max-height: 40vw;
  width: 40vw;
  max-width: 40vw;
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  display: flex;
  align-items: center;
}
.edit-Box-Div-small {
  background-color: white;

  display: flex;
  height: 40vw;
  width: 40vw;
  margin-top: auto;
  margin-bottom: auto;
}
.meme-image {
  max-width: 100%;
  max-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.body-Nav-Btn {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.body-Nav-Btn:hover {
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 50%;
}

.boby-Nav-icon {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.body-Nav-Btn > p {
  color: white;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 1.5vh;
}

.nav-Extend {
  background-color: #1a1e2b;
  display: none;
  flex-direction: column;
  padding: 2px;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  max-height: 100%;
}
.nav-Extend-header {
  display: flex;
  border-bottom: 1px white;
  width: 100%;
}
.extendedNav-Text-Div {
  display: flex;
  width: 500px;
  max-width: 500px;
}
.extendedNav-Text-Div > p {
  margin-left: auto;
  margin-right: auto;
}
.nav-Extend-backBtn {
  background-color: transparent;
  color: white;
  width: fit-content;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-top: 1%;
}
.nav-Extend-backIcon {
  width: 20px;
  height: 20px;
}
.nav-Extend-backIcon-x {
  display: none;
}
.nav-Extend-Body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.text-Box {
  position: relative;
  width: 250px;
  height: 30px;
  margin: auto;
  border-radius: 5px;
  font-size: 20px;
  border: 0 !important;
}
.text-Box:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: none;
}
.add-Text-Btn {
  margin: auto;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: #7795f8;
  cursor: pointer;
}

.search-Img-Div {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 250px;
  height: 30px;
  max-height: 30px;
  border-radius: 5px;
  border: 0;
  color: white;
}
.searchbar-div {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  background-color: #3a3e49;
  padding-left: 5px;
  border-radius: 4px;
}
.search-Img-icon {
  margin-top: auto;
  margin-bottom: auto;
}
.search-Img-Input {
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  border: none;
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  max-width: 75%;
}
.search-Img-Input:focus {
  outline: none;
}
.clear-SearchField {
  background-color: transparent;
  border: none;
  width: 10px;
  height: 20px;
  margin: auto;
  cursor: pointer;
  justify-self: start;
  -webkit-tap-highlight-color: transparent;
}

.clear-SearchField > * {
  color: #828694;
  margin-left: -27px;
  width: 50px;
  height: 20px;
}
.clear-SearchField > *:active {
  background-color: transparent;
}

.go-Btn {
  background-color: #7795f8;
  width: 15%;
  height: 100%;
  min-width: 15%;
  min-height: 100%;
  margin: auto;
  margin-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.go-Btn > p {
  margin: 0px;
  padding: 0px;
  color: white;
  margin: auto;
}
.add-RndmImg-Btn {
  margin: auto;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: #7795f8;
  cursor: pointer;
}
.add-Text-inputDiv {
  width: 40vw;
  height: 40vw;
  z-index: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.add-Text-input {
  width: 50%;
  margin: auto;
  font-size: 200%;
}

@media only screen and (max-width: 700px) {
  .Body {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .body-Body {
    align-self: flex-end;
    padding: 2px;
    width: 100%;
    max-width: 100%;
    color: black;
    background-color: #252935;
    height: 90vh;
    min-height: 85vh;
  }
  .add-Text-inputDiv {
    height: 275px;
    width: 275px;
    z-index: 0;
    position: fixed;
    max-width: 275px;
    max-height: 275px;
  }
  .nav-Extend-backIcon {
    display: none;
  }
  .edit-Box-Div {
    background-color: white;
    height: 90vw;
    width: 90vw;
    min-width: 275px;
    min-height: 275px;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .edit-Box-Div-small {
    max-width: 250px;
    width: 250px;
    height: 250px;
    margin: 0px;
    margin-top: 370px;
    margin-bottom: -370px;
    margin-bottom: auto;
  }

  .body-Nav {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    background-color: #252935;
    height: 6vh;
    min-height: 6vh;
  }

  .nav-Extend {
    display: none;
    flex-direction: column;
    padding: 2px;
    width: 100%;
    max-width: 100%;
    height: 300px;
    min-height: 300px;
  }
  .nav-Extend-header {
    width: 100%;
  }
  .extendedNav-Text-Div {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .extendedNav-Text-Div > p {
    margin: auto;
  }
  .nav-Extend-backIcon {
    display: none;
  }
  .nav-Extend-backIcon-x {
    display: block;
    width: 25px;
    height: 25px;
    margin-left: -150%;
  }
  .search-Img-Div {
    width: 90%;
  }
  .search-Img-Input {
    width: 100%;
    margin: auto;
  }
  .add-RndmImg-Btn {
    width: 90%;
  }
}
