.Body {
  background-color: #252935;
  color: white;
  min-height: 95vh;
  max-height: 95vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.body-Nav {
  display: flex;
  flex-direction: column;
  padding: 2px;
  width: 4%;
  max-width: 4%;
  max-height: 100%;
}
.body-Body {
  padding: 2px;
  width: 97%;
  max-width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.edit-Box-Div {
  background-color: white;
  height: 40vw;
  width: 40vw;
  margin-top: auto;
  margin-bottom: auto;
}
.body-Nav-Btn {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.body-Nav-Btn:hover {
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 50%;
}

.boby-Nav-icon {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.body-Nav-Btn > p {
  color: white;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 1.5vh;
}

.text-Div {
  position: relative;
  width: 10vw;
  height: 2.5vw;
}
.text-Box {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.nav-Extend {
  background-color: #1a1e2b;
  display: none;
  flex-direction: column;
  padding: 2px;
  width: 15%;
  max-width: 15%;
  max-height: 100%;
}
@media only screen and (max-width: 700px) {
  .Body {
    background-color: green;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .body-Body {
    align-self: flex-end;
    padding: 2px;
    width: 100%;
    max-width: 100%;
    color: black;
    background-color: #252935;
    height: 90vh;
    min-height: 85vh;
  }
  .edit-Box-Div {
    background-color: white;
    height: 90vw;
    width: 90vw;
    margin-top: auto;
    margin-bottom: auto;
  }

  .body-Nav {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    background-color: #252935;
    height: 6vh;
    min-height: 6vh;
  }
  .nav-Extend {
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 100%;
    max-width: 100%;
  }
}
